<section class="sign-up">
    <a class="back" href="">&#x2190; Назад</a>
    <h2>Създай акаунт</h2>
    <form action="">
        <div class="inputs">
            <label for="name">Име и фамилия</label>
            <input type="text" id="name" name="name" placeholder="Иван Ненов">

            <label for="email">Имейл</label>
            <input type="email" id="email" name="email" placeholder="Въведете имейл">

            <label for="phone">Телефон</label>
            <input type="number" id="phone" name="phone" placeholder="0876741214">

            <label for="password">Парола</label>
            <input type="password" id="password" name="password" placeholder="******">

            <label for="rePass">Потвърди парола</label>
            <input type="password" id="rePass" name="rePass" placeholder="******">

            <label for="code">Код за вход към ферма</label>
            <input type="number" id="code" name="code" placeholder="88432">
        </div>


        <div class="login-btns">
            <input type="submit" value="Регистрирай се">
        </div>

        <div class="have-account">
            <p>Вече имате акаунт?</p>
            <a href="">Влез в акаунта</a>
        </div>
    </form>

</section>