<section class="register-farm">

    <h1>Вашата Ферма</h1>
    <form action="">
        
        <div class="farm-info">
            
            <label for="name">Име на Стопанство</label>
            <input type="text"
            id="name"
            name="name"
            placeholder="Крава ЕОД">

            <label for="name-surname">Име и Фамилия</label>
            <input type="text"
            id="name-surname"
            name="name-surname"
            placeholder="Иван Нанев">

            <label for="phone">Телефон</label>
            <input type="text"
            id="phone"
            name="phone"
            placeholder="0876741214">

        </div>

        <div class="farm-info">
            <h3>Вид добитък</h3>

            <label for="big">Едър рогат добитък (Крави, Бикове, Телета)</label>
            <input type="number"
            id="big"
            name="big"
            placeholder="5">

            <label for="small">Дребен рогат добитък (Овце, Кози)</label>
            <input type="number"
            id="small"
            name="small"
            placeholder="5">

            <label for="pigs">Прасета</label>
            <input type="number"
            id="pigs"
            name="pigs"
            placeholder="5">

            <label for="horse">Коневъдство (Коне, Магарета, Мулета)</label>
            <input type="number"
            id="horse"
            name="horse"
            placeholder="5">

            <label for="birds">Птицевъдство (Кокошки, Патици, Пътпъдъци, Гъски)</label>
            <input type="number"
            id="birds"
            name="birds"
            placeholder="5">

        </div>

        <div class="map">
            <h3>Маркирайте вашето стопанство</h3>
        </div>

        <div class="farm-btns">
            <input type="submit" value="">
        </div>
    </form>


</section>
