<section class="first-page">

    <div class="logo-text">
        <img src="logo.svg" alt="">
        <h1>FarmAlert</h1>
    </div>

    <div class="text-buttons">
        <p class="promise">Когато огънят е близо заедно сме още по-близо</p>

        <div class="btns">
            <a routerLink="/sign-up">
                <p>Влез във ферма</p>
                <span>&rarr;</span>
            </a>

            <a routerLink="/register-farm">
                <p>Регистрирай ферма</p>
                <span>&rarr;</span>
            </a>
        </div>
    </div>
</section>
