<section class="first-page">

    <div class="logo-text">
        <img src="logo.png" alt="">
        <h1>FarmAlert</h1>
    </div>

    <div class="text-buttons">
        <p class="promise">Когато огънят е близо заедно сме още по-близо</p>

        <div class="btns">
            <a href="">
                <p>Влез във ферма</p>
                <span>&rarr;</span>
            </a>

            <a href="">
                <p>Регистрирай се</p>
                <span>&rarr;</span>
            </a>
        </div>
    </div>
</section>
